@import "variables"; 

body{
    
   margin: -2rem 0 0;
   background-color: rgb(16, 13, 24);
   height: 100vh;
}

.root{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background-image{
    z-index: -1;
    position: relative;
    height: 40vh;
    width: 100%;
    margin: 0;
    background-image: url("../images/bg-desktop-dark.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.List{
    position: relative;
    top: -35vh;
}

.style-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.style-button:hover{
    color: turquoise;
}

.checkbox{
    border-radius: 3;
    background-image: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%),
    
}
.new-task{
    position: relative;
    top: -270px;
    font-size: 20px;
}

.header{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: white;
    letter-spacing: 28px;
}

.input-box{

    font-family: 'Josefin Sans', sans-serif;
    top: -10vh;
    margin: auto;
    border: none;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background-color:#25273C;
    cursor: context-menu;
    justify-content: space-between;
    padding: 10px 10px;
}

.item{
    border-bottom: solid #494C6B 0.1px;
}

.navbar{
    border: none;
}


.input-field{
    font-family: 'Josefin Sans', sans-serif;
    background-color: inherit;
    color: ivory;
    border: none;
    font-size: 20px;
    width: 80%;
}

.todo-list .input-field{
    width: 90%;
}

.todo-list{
   
    margin-top: 1rem;
    .input-field{
        cursor: context-menu; 
    }
}

.todo-list{
    border-radius: 0;
    .item{
        border-radius: 0;
    };
    .navbar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-radius: 0 0 5px 5px; 
    }
}

.todo-list:only-child{
    border-radius: 5px;
};

.input-box:first-child{
    border-radius: 5px 5px 0 0;
};

.cross-button{
    width: 50px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: end;
    align-items: center;
    background-color: transparent;
    border: none; 
    cursor: pointer;
}

.icon-box{
    width: 100%;
    text-justify: right;
    fill: rgb(74, 66, 88);
}

.cross-button:hover .icon-box{
    fill: rgb(143, 23, 241);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.nav-container{
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    p{
        padding:0;
        margin: 0 2px;
        color: rgb(139, 135, 139);
        font-size: 18px;
    }
}

.choice-button{
    font-family: 'Josefin Sans', sans-serif;
    background-color: inherit;
    border: none;
    border-style: none;
    padding: 0;
    height: 2rem;
    font-size: 18px;
    color: rgb(139, 135, 139);
    cursor: pointer;
}

.choice-button:hover{
    color: whitesmoke;
}

.choice-button-on{
    color:rgb(35, 137, 255);
}

.middle-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .choice-button{
        margin: 0 0.35rem;
    }
}

.upper-section{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 90px;
    align-items: baseline;
    margin: 6vh auto 4vh;
}

.attribution{
    color: rgb(134, 134, 134);
    font-family: 'Josefin Sans', sans-serif;
    margin: 2% auto;
    font-size: 16px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: -1;
}


// mobile version

@media (max-width: $mediaMaxWidth){
    .new-task, 
    .input-box,
    .upper-section, 
    .mobile-nav,
    .mobile-status{
        width: $desktopWidth;
    };
    .upper-section{
        margin: 4vh auto 2vh;
    };
}

@media (max-width: $mediaBp1Width){
    .new-task, 
    .input-box,
    .upper-section,
    .mobile-nav,
    .mobile-status {
        width: $tabletWidth;
    };
    .upper-section{
        margin: 4vh auto 2vh;
    };
}

@media (max-width: $mediaMinWidth){
    .new-task, 
    .input-box,
    .upper-section,
    .mobile-nav,
    .mobile-status {
        width: $mobileWidth;
    };
    .upper-section{
        margin: 4vh auto 2vh;
    };
    .mobile-status{
        justify-content: space-between;
    };
    .header h1{
        font-size: 32px;
    }
}

@media (min-width: $mediaMaxWidth){
    .new-task, 
    .input-box,
    .upper-section,
    .mobile-nav,
    .mobile-status{
        width: $bigDesktopWidth;
    };
    .header h1{
        font-size: 32px;
    }
}

.mobile-main-nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.mobile-nav{
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    border-radius: 0 0 5px 5px;
    padding: 10px 10px;
    background-color:#25273C;
    color: rgb(139, 135, 139);
    cursor: context-menu;
    p{
        margin: 12px; 
        font-size: 18px; 
    }

}

.mobile-nav-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;   
    flex-direction: column;
    margin: auto 0;
}


.mobile-status{
    display: flex;
    justify-content: space-around; 
    align-items: center;  
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    background-color:#25273C;
    margin: 0.5rem auto;
    color: rgb(139, 135, 139);
}