body {
  margin: -2rem 0 0;
  background-color: #100d18;
  height: 100vh;
}

.root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background-image {
  z-index: -1;
  position: relative;
  height: 40vh;
  width: 100%;
}

.background-image img {
  height: 45vh;
  width: 100%;
  -o-object-fit: none;
     object-fit: none;
}

.List {
  position: relative;
  top: -35vh;
}

.style-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.style-button:hover {
  color: turquoise;
}

.checkbox {
  border-radius: 3;
  background-image: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
}

.new-task {
  width: 40%;
  position: relative;
  top: -270px;
  font-size: 18px;
}

.header {
  font-size: 3rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  color: white;
  letter-spacing: 10px;
}

.input-box {
  font-family: 'Josefin Sans', sans-serif;
  top: -10vh;
  margin: auto;
  border: none;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 2px;
  background-color: #25273C;
  cursor: context-menu;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item {
  border-bottom: solid #494C6B 0.1px;
}

.navbar {
  border: none;
}

.input-field {
  font-family: 'Josefin Sans', sans-serif;
  background-color: inherit;
  color: ivory;
  border: none;
  font-size: 18px;
  z-index: 1;
}

.todo-list .input-field {
  width: 90%;
}

.todo-list {
  margin-top: 1rem;
}

.todo-list .input-field {
  cursor: context-menu;
}

.todo-list {
  border-radius: 0;
}

.todo-list .item {
  border-radius: 0;
}

.todo-list :first-child {
  border-radius: 2px 2px 0 0;
}

.todo-list :only-child {
  border-radius: 2px;
}

.todo-list .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0 0 2px 2px;
}

.cross-button {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon-box {
  width: 100%;
  text-justify: right;
  fill: #4a4258;
}

.cross-button:hover .icon-box {
  fill: #8f17f1;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.nav-container {
  width: 100%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.nav-container p {
  padding: 0;
  margin: 0 2px;
  color: #8b878b;
  font-size: 12px;
}

.choice-button {
  font-family: 'Josefin Sans', sans-serif;
  background-color: inherit;
  border: none;
  border-style: none;
  padding: 0;
  height: 2rem;
  font-size: 12px;
  color: #8b878b;
  cursor: pointer;
}

.choice-button:hover {
  color: whitesmoke;
}

.choice-button-on {
  color: #2389ff;
}

.middle-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.middle-container .choice-button {
  margin: 0 0.35rem;
}

.upper-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 40%;
  height: 90px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.attribution {
  color: #868686;
  font-family: 'Josefin Sans', sans-serif;
}

/* checkbox */
/*# sourceMappingURL=styles.css.map */